@media only screen and (max-width: 1023px) {
    h1 {
        font-size: 150%;
    }

    .form-container{
        margin:  10% 30%;
        grid-row-gap: 2em;

    }
}


@media only screen and (max-width: 767px) {
    h1 {
        font-size: 150%;
    }

    .form-container{
        margin:  5% 25%;
        grid-row-gap: 1.5em;
    }
}

@media only screen and (max-width: 480px) {
    .pg-background {
        height: 120vh;
    }

    h1 {
        font-size: 100%;
        padding-top: 0 50px;

    }

    .form-container{
        margin:  5% 20%;
        grid-row-gap: 1em;
    }

    button{
        height: 2rem;
        width: 70px;
        font-size: 10px;
    }

    label{
        font-size: 10px;
    }

    input, select{
        font-size: 10px;
        width: 80px;
        margin-left: 10px;
    }

    .modal-content {
        font-size: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 0.5rem 1rem;
        width: 12rem;
        border-radius: 0.5rem;
    }
    .close-button {
        float: right;
        width: 1rem;
        line-height: 1rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }
}

@media only screen and (max-width: 360px) {

    .pg-background {
        height: 120vh;
    }

    h1 {
        font-size: 100%;
        padding-top: 0 50px;

    }

    .form-container{
        margin:  5% 20%;
        grid-row-gap: 1em;
    }
}